<div class="container">
  <div class="mg-top-30">
    
    <div class="row">
      <div class="col-xs-12">
        <h3 class="titulo-pedido strong" style="">
        </h3>
      </div>
      <div class="col-md-12 scrool-well">
			  <div class="timeline" >
				  <dl id="messages">
				  </dl>
			  </div>
		  </div>
    </div>
  </div>
</div>
<div class="chat-send-msg">
  <div class="">
    <form action="">
      <div class="text-left" style="">
        <div class="">
          <textarea class="form-control input-lg" required rows="5" name="detalhes" id="mensagem" style="" placeholder="Escreva sua mensagem"
            title="Escreva sua mensagem" data-ng-model='vm.mensagem' ></textarea>
        <a data-ng-click="vm.enviarMensagem()" class="btn  btn-lg btn-primary btn-block mg-top-30">Enviar Mensagem</a>
        </div>
      </div>
    </form>
  </div>
</div>